<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- <div class="main-container h-screen grid grid-cols-12"> -->
    <!-- Sidebar -->
    <!-- <div class="col-span-2 h-full pr-4 md:pr-6 bg-black border-r-[2px] border-white">
        <div class="flex flex-col items-end h-full">
            <div class="space-y-2 lg-w-[230px]">
                <div
                    class="rounded-full xl:pl-16 flex items-center justify-center cursor-pointer transition text-blue-800 font-semibold font-serif lg:h-14 lg:w-14 lg:text-3xl">
                    <span
                        class="block lg:hidden text-red-500 mt-5 text-5xl hover:bg-slate-300 hover:bg-opacity-10">#</span>
                    <span class="hidden lg:block mt-10 p-10 pl-52 text-4xl">Pictura<span
                        class="text-red-500">#</span></span>
                </div>

                
<h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Password requirements:</h2>
<ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
    <li>
        At least 10 characters (and up to 100 characters)
    </li>
    <li>
        At least one lowercase character
    </li>
    <li>
        Inclusion of at least one special character, e.g., ! @ # ?
    </li>
</ul>


            </div>
        </div>
    </div> -->
    <!-- Main content area -->
    <!-- <main class="col-span-10 bg-slate-900">
        <router-outlet></router-outlet>
    </main>
</div> -->


    <!-- Main content -->
    <!-- <div class="flex-1 p-4">
        <router-outlet></router-outlet>
    </div>
</div> -->
