.login-form {
  max-width: 300px;
}

.imgDiv {
  width: 100%;
  vertical-align: middle;
  margin-bottom: 40px;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 16px 0;
  width: 100%;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #d9d9d9;
}

.divider:not(:empty)::before {
  margin-right: .25em;
}

.divider:not(:empty)::after {
  margin-left: .25em;
}



.login-form-margin {
  margin-bottom: 26px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.child {
  padding: 50px;
  position: absolute;
  width: 380px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 32px;

}

.parent {
  width: 100%;
  height: 89vh;
  position: relative;
}

button[nz-button] {
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 24px; /* Increased border radius */
  background-color: #0d0c22;
  color: white;
  border-color: #0d0c22;
}

button[nz-button]:hover {
  background-color: #0b0a1d;
  border-color: #0b0a1d;
}

.bg{
  background-color: #f5f7f9;
}
